/* CSS Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif ;
    color: var(--text-color);
}

:root {
    --text-color: #fff;
    --general-font-size: 30px;
    --header-primary-size: 60px;
    --header-secondary-size: 28px;
    --border-color: #ffff;
    --secondary-background: rgba(7, 7, 7, 0.6);
    --hover-color: rgb(218, 19, 174);
}

/* Body Styling */
body {
    background: rgb(217,17,166);
    background: linear-gradient(90deg, rgba(217,17,166,1) 6%, rgba(14,137,210,1) 100%);
    color: var(--main-text-color);
}

/* General Font Sizes */
p {
    font-size: var(--general-font-size);
}

h2 {
    font-size: var(--header-primary-size);
}

h3 {
    font-size: var(--header-secondary-size);
}


/* Transparent Background */
.container {
    background-color: var(--secondary-background);
    width: 90%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
}


/* Navbar Styling */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 5%;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--secondary-background);
    border-radius: 0 0 55% 55%;
    
}

header h1 {
    font-size: 55px;
    transition: all 1s ease 0s;
}


li, a {
    font-size: 30px;
    color:var(--text-color);
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 30px;
}

.nav-links li a {
    transition: all .5s ease 0s;
}

.nav-links li a:hover {
    color: var(--hover-color);
}
/* Navbar Styling End */


/* About Me Section Styling */
.about-me-section {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.avatar-img {
    max-width: 70%;
    margin-left: 30%;
}
/* About Me Section Styling End */



/* My Projects Section Styling */

.my-project-section {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.run-buddy-gif {
    max-width: 70%;
    margin-left: 5%;
}






/* Utility Classes */




/* Footer Styling */