/* Imports */
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Zen+Kaku+Gothic+New&display=swap');

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --main-background-color: linear-gradient(90deg, rgba(217,17,166,1) 6%, rgba(14,137,210,1) 100%);;
    --background-color-primary: rgba(7, 7, 7, 0.6);
    --background-color-secondary: ;
    --text-color: #ffff;
    --primary-header: 60px;
    --secondary-header: 30px;
    --hover-color: rgb(218, 19, 174);;
    --main-padding: 5%;
    --main-margin: 0 auto 15px auto;
    --main-border-radius: 25px;
}
/* Variables End */


/* General Styling */
html, body {
    background: var(--main-background-color);
    color: var(--text-color);
    font-family: 'Cuprum', sans-serif;
}

h2 {
    padding-top: 5%;
    font-size: 50px;
    margin-bottom: 2%;
}

p {
    font-size: 20px;
    line-height: 2;
}
/* General Styling End */


/* Navbar Styling */
#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    width: 95%;
    transition: top 0.6s;
    padding: 10px 5%;
    border-radius: 0 0 15px 15px;
    background-color: var(--background-color-primary);
    margin: 0 auto 15px auto;
}

#navbar h1 {
    font-size: 55px;
    margin: 0;
    transition: all 1s ease 0s;
}

#navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#navbar li {
    display: inline-block;
    text-decoration: none;
    padding: 30px;
    margin: 5px;
}

#navbar a {
    text-decoration: none;
    color:var(--text-color);
    font-size: 20px;
}

#navbar a:hover {
    color: var(--hover-color);
    transition: 0.3s;
}

/* Navbar Styling End */


/* Container Background */
.container {
    background-color: var(--background-color-primary);
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 5%;
    margin-bottom: 30px;
    border-radius: var(--main-border-radius);
}
/* Container Background End */


/* About Me Section */

.about-me {
    display: flex;
    flex-direction: row;
}

.flex-container, .flex-right img {
    display: flex;
    width: 100%;
    padding-bottom: 3%;
}
/* About Me Section End */


/* My Project Section */
.my-project {
    display: flex;
    flex: 50%;
    flex-direction: row;
}

.my-project, .flex-left img {
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 0;
}


/* Comtact Me Section */
.footer-heading {
    display: flex;
    justify-content: center;
    position: relative;
}

footer p {
    text-align: center;
}

.contact-me a i {
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    color: var(--text-color);
}


/* Meida Queries */

/*  */
@media screen and (max-width: 980px) {
    /* Navbar */
    #navbar {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    #navbar ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    #navbar ul li a {
        font-size: 40px;
        text-align: center;
    }

    h1 {
        width: 100%;
        text-align: center;
    }

    h2 {
        width: 100%;
        text-align: center;
    }

    #navbar a {
        font-size: 20px;
    }

    p {
        text-align: center;
    }

/* About Me */
    .about-me {
        display: flex;
        flex-wrap: wrap;
    }

    img {
        display: flex;
        flex-wrap: wrap;
    }
}


/*  */



